<div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="resourcesList$ | async">
      <li
        class="list-group-item"
        routerLinkActive="active-department"
        routerLink="/{{ documentGroupId }}/{{ procedure.id }}"
        *ngFor="let procedure of resourcesList$ | async"
      >
        {{ procedure.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div *ngIf="loadingFiles">
            <app-dashboard-progress
              [height]="'40px'"
              [borderRadius]="'5px'"
            ></app-dashboard-progress>
          </div>
          <div *ngIf="!loadingFiles">
            <ng-container *ngIf="hasPriviledge">
              <div
                class="custom-button"
                data-toggle="modal"
                data-target="#exampleModalCenter"
                (click)="setModal('open')"
              >
                Upload Shared Resource <span>(eg. documents )</span>
              </div>
            </ng-container>
            <ng-container *ngIf="!hasPriviledge">
              <div class="custom-button-disabled">
                Shared Resource <span>(eg. documents )</span>
              </div>
            </ng-container>
          </div>
        </div>
        <div>
          <div class="custom-table-container">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-xs-8"></div>
              <div class="col-lg-4 col-md-4 col-xs-4">
                <app-dashboard-progress
                  *ngIf="loadingFiles"
                  [height]="'40px'"
                  [borderRadius]="'5px'"
                >
                </app-dashboard-progress>
                <div class="input-group mb-3 float-right" *ngIf="!loadingFiles">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchParameter"
                    (ngModelChange)="searchingItem($event)"
                    placeholder="Search resource name"
                    aria-label="Search Resource"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><img
                        src="assets/images/search-icon.png"
                        style="height: 20px"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="loadingFiles">
                  <br />
                  <app-dashboard-progress
                    [height]="'400px'"
                    [borderRadius]="'5px'"
                  ></app-dashboard-progress>
                </div>
                <table
                  *ngIf="
                    !loadingFiles &&
                    (pages.length != 0 &&
                      pages[pageEvent.pageIndex].length != 0)
                  "
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Resource Name</th>
                      <th>Resource Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let pageItem of pages[pageEvent.pageIndex];
                        let counter = index
                      "
                    >
                      <th>{{ counter + 1 }}</th>
                      <td>{{ pageItem.name }}</td>
                      <td>
                        <span *ngIf="pageItem.external"
                          >External Resource Link</span
                        >
                        <span *ngIf="!pageItem.external">File Resource</span>
                      </td>
                      <td>
                        <span
                          class="action-button"
                          (click)="openResource(pageItem)"
                          *ngIf="pageItem.external"
                        >
                          <img
                            style="height: 20px;"
                            src="assets/images/link-icon.png"
                          />
                        </span>
                        <span
                          class="action-button"
                          (click)="openResource(pageItem)"
                          *ngIf="!pageItem.external"
                        >
                          <img
                            style="height: 20px;"
                            src="assets/images/download-icon.png"
                          />
                        </span>
                        <span
                          class="action-button"
                          *ngIf="hasPriviledge"
                          (click)="deleteDocument(pageItem)"
                        >
                          <img
                            style="height: 20px;"
                            src="assets/images/trash-icon.png"
                          />
                        </span>
                      </td>
                    </tr>
                    <tr
                      *ngIf="
                        !loadingFiles &&
                        (pages.length == 0 ||
                          pages[pageEvent.pageIndex].length == 0)
                      "
                    >
                      <td colspan="4" style="color:#cccccc; text-align: center">
                        No resource found
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                <div *ngIf="loadingFiles">
                  <app-dashboard-progress
                    [height]="'40px'"
                    [borderRadius]="'5px'"
                  ></app-dashboard-progress>
                </div>
                <nav class="float-right" *ngIf="!loadingFiles">
                  <ul class="pagination">
                    <ng-container *ngIf="pageEvent.pageIndex <= 0">
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                      </li>
                    </ng-container>

                    <ng-container *ngIf="pageEvent.pageIndex > 0">
                      <li class="page-item">
                        <a
                          class="page-link"
                          (click)="
                            pageEvent.pageIndex = pageEvent.pageIndex - 1
                          "
                          style="cursor: pointer;color: dodgerblue;"
                          >Previous</a
                        >
                      </li>
                    </ng-container>

                    <ng-container
                      *ngFor="let page of pages; let pageCounter = index"
                    >
                      <ng-container *ngIf="pageCounter + 1 < 4">
                        <li class="page-item">
                          <a
                            class="page-link"
                            [ngClass]="{
                              'current-page': pageEvent.pageIndex == pageCounter
                            }"
                            style="cursor: pointer; color:dodgerblue;"
                            (click)="pageEvent.pageIndex = pageCounter"
                            >{{ pageCounter + 1 }}</a
                          >
                        </li>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          pageEvent.pageIndex != pageCounter &&
                          pageCounter + 1 > 3 &&
                          pageCounter + 1 < pages.length - 3
                        "
                      >
                        <li class="page-item"><a class="page-link">...</a></li>
                      </ng-container>
                      <ng-container *ngIf="pageCounter + 1 > pages.length - 3">
                        <li class="page-item">
                          <a
                            class="page-link"
                            [ngClass]="{
                              'current-page': pageEvent.pageIndex == pageCounter
                            }"
                            style="cursor: pointer; color:dodgerblue;"
                            (click)="pageEvent.pageIndex = pageCounter"
                            >{{ pageCounter + 1 }}</a
                          >
                        </li>
                      </ng-container>
                    </ng-container>

                    <ng-container
                      *ngIf="pageEvent.pageIndex == pages.length - 1"
                    >
                      <li class="page-item disabled">
                        <a class="page-link">Next</a>
                      </li>
                    </ng-container>

                    <ng-container
                      *ngIf="pageEvent.pageIndex < pages.length - 1"
                    >
                      <li class="page-item">
                        <a
                          class="page-link"
                          (click)="
                            pageEvent.pageIndex = pageEvent.pageIndex + 1
                          "
                          style="cursor: pointer;color: dodgerblue;"
                          >Next</a
                        >
                      </li>
                    </ng-container>
                  </ul>
                </nav>
              </div>
            </div>
            <div
              class="row"
              *ngIf="
                !loadingFiles &&
                (pages.length == 0 || pages[pageEvent.pageIndex].length == 0)
              "
            >
              <div class="col-md-12" style="text-align: center">
                No resource found
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-modal" id="exampleModalCenter" *ngIf="isModalSet">
      <div>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              Resource Upload Form
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              (click)="setModal('close')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-resource-form
              (cancelModal)="cancelModal($event)"
              (fileUploaded)="fileUploaded($event)"
            ></app-resource-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
