<div class="application-container">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12"
        style="background-color: #457b49; position: fixed; height: 50px; z-index: 1200;padding-top: 10px"
      >
        <a
          mat-button
          routerLinkActive="active-class"
          [routerLink]="'/page-design'"
        >
          Pages Design
        </a>
        <a
          mat-button
          routerLinkActive="active-class"
          [routerLink]="'/procedures'"
        >
          Procedures/instructions/process flow
        </a>
        <a mat-button routerLinkActive="active-class" [routerLink]="'/forms'">
          Forms & checklists
        </a>
      </div>
    </div>
  </div>
  <div class="application-content" style="margin-top: 55px">
    <router-outlet></router-outlet>
  </div>
</div>
